.booking-cont {
    background-color: e0e7e9;
}

.nav-bar {
    background-color: #354649;
}

.App {
    /* background-color: blue; */
}

.index {
    background-color: brown;
}

.body {
    background-color: #e0e7e9;
}

.form-title {
    background-color: #a3c6c4;
}

