.booking-cont {
    background-color: #e0e7e9;
}

.nav-bar {
    position: fixed;
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 100%;
    height: 60px;
    top:0;
    z-index: 9999999;
}

ul.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

li {
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.table-li {
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.nav-bar li:hover {
    border-top: 4px solid #7bdad5;
    font-weight: 700;
}

.body {
    background-color: #e0e7e9;
}

.form-title {
    background-color: #6ebacf;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking-form {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cust-form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.cust-form input {
    margin-top: 10px;
    margin-bottom: 10px;

}

.date-time-picker {
    display: flex;
    justify-content: space-around;
}

.calendar {
    margin: 100px auto;
}

.label-picker {
    display: flex;
    flex-direction: column;
}

.butt-book-form {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.cust-table  {
  font-family: 'Arial';
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right:auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

.cust-table th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

.cust-table th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }

